.works{
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                display: flex;
                width: 700px;
                height: 100%;
                background-color: aliceblue;
                border-radius: 20px;


                .left{
                    flex: 4;
                    height: 100%;40px
                    background-color: aqua;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer{
                            width: 40px;
                            height: ;
                        }
                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    background-color: brown;

                }
            }
        }
    }


}